<div id="donationModal" class="donate-modal hidden">
    <div class="donate-modal__content">
        <span class="close">&times;</span>
        <h2>Повысить рейтинг</h2>
        <span id="rating" class="donate-modal__rating"></span>
        <form id="donationForm">
            {{!-- <label for="cardNumber" class="donate-modal__label">Номер карты</label>
            <input type="text" id="cardNumber" class="donate-modal__input" name="cardNumber" placeholder="1234 5678 9012 3456" required>

            <label for="cardExpiry">Годен до</label>
            <input type="text" id="cardExpiry" name="cardExpiry" placeholder="MM/YY" required>

            <label for="cardCVC">CVC</label>
            <input type="text" id="cardCVC" name="cardCVC" placeholder="123" required>

            <label for="donationAmount">Сумма доната</label>
            <input type="number" id="donationAmount" name="donationAmount" placeholder="Amount in $" required> --}}
        </form>
    </div>
</div>