$button-font-family-main: Verdana, Geneva, Tahoma, sans-serif;
$button-font-size: 16px;

$button-padding_sm: 8px 15px;
$button-padding_md: 8px 15px;
$button-padding_lg: 8px 15px;

$button-border-radius_sm: 4px;
$button-border-radius_md: 6px;
$button-border-radius_lg: 8px;

$button-font-size_sm: 14px;
$button-font-size_md: 16px;
$button-font-size_lg: 18px;

$color_basic: black;
$color_basic_secondary: white;

$card-price-font-size: 22px;
$card-link-font-size: 22px;

$background-color-main: #ffffffff;
$h1-color: #ffffffff;
$background-color-button-main: #0468ff;
$color-button-secodary: #0468ff;
$color-button-main: white;
$color-fullprice: black;
$color-card-link: #0468ff;
$color-adress: rgba(38, 56, 107, 0.6);
$color-price-per-metr: rgba(38, 56, 107, 0.6);
$background-color-button-secondary: rgba(4,104,255,0.15);
$color-button-secondary: #0468ff;
$background-color-button-main-hover: #0661EC;
$background-color-button-secondary-hover: rgba(4,104,255,0.2);
$page-background-color: white;
$background_color_filter_passive: rgba(37,37,37,0.65);
$color_filter_passive: white;
$background_color_filter_active: #ebebeb;
$color_filter_active: black;
$color_text_highlight: #0468FF;
$color_text_highlight_secondary: rgba(4, 104, 255, 0.15);
$color_text_basic: #152242;
$color_text_basic_secondary: rgba(21, 34, 66, 0.6);
$color_errors: #FF1F34;
$placeholder_color: rgba(15, 22, 42, 0.5);

$nav-border-bottom-line-width: 1px;
$nav-border-bottom-line-style: solid;
$nav-border-bottom-line-color: gray;

$shine-width: 40px;