@use "@/variables.scss";

.gridCards {
    display: flex;
    flex-direction: column;
    gap: 30px;

    h2 {
        font-size: 22px;
        color: $color_text_basic;
        padding-top: 5px;
        margin: 0;
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: inherit;
        display: flex;
        flex-direction: column;
    }

    span {
        font-size: 16px;
        color: $color_text_basic;
        margin: 0;
        font-weight: normal;
        display: block;
    }

    img {
        width: 100%;
        min-height: 280px;
        object-fit: cover;
        border-radius: 8px 8px 0 0;
    }

    &__information {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
    }

    &__card {
        width: 320px;
        min-height: 400px;
        display: grid;
        grid-template-rows: 380px auto;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        transition-duration: 0.3s;
        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 10px;
        max-width: 320px;
    }

    &__adress {
        color: $color_text_basic_secondary !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 0 10px;
        font-size: 16px;
        font-family: $font-family-main;
        padding-bottom: 10px;
        font-weight: bold;

        a {
            display: block;
            padding: 8px 15px;
            border-radius: 4px;
        }
    }

    &__edit {
        background-color: $background-color-button-secondary;
        color: $color_text_highlight !important;
        &:hover {
            background-color: $background-color-button-secondary-hover;
        }
    }

    &__delete {
        background-color: $background-color-button-error;
        color: $color_errors !important;
        &:hover {
            background-color: $background-color-button-error-hover;
        }
    }

    &_hidden {
        display: none !important;
    }

    &_clear-filters {
        cursor: pointer;
    }
}