<div class="gridCard">
    {{#each miniCards}}
    <div class="gridCard__mini-card">
        <img src="{{imgSrc}}" alt="картинка квартиры">
        <div class="gridCard__description">
            {{#if fullprice}}
            <a href="/advert" class=""><span class="gridCard__fullprice">{{fullprice}}</span></a>
            {{/if}}
            {{#if pricePerMetr}}
            <span class="gridCard__price-per-metr">{{pricePerMetr}}<span class="ruble"></span>/м<sup>2</sup></span>
            {{/if}}
            {{#if releaseDate}}
            <span>{{releaseDate}}</span>
            {{/if}}
        </div>
    </div>
    {{/each}}
</div>