@charset "UTF-8";
button {
  outline: none;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.button_primary {
  background-color: #0468ff;
  color: white;
}

.button_primary:hover {
  background-color: #0661EC;
}

.button_secondary {
  background-color: rgba(4, 104, 255, 0.15);
  color: #0468ff;
}

.button_secondary:hover {
  background-color: rgba(4, 104, 255, 0.2);
}

.button_size_sm {
  padding: 8px 15px;
  font-size: 16px;
}

.button_border-radius_sm {
  border-radius: 4px;
}

.button_size_md {
  padding: 8px 15px;
  font-size: 16px;
}

.button_border-radius_md {
  border-radius: 6px;
}

.button_size_lg {
  padding: 8px 15px;
  font-size: 18px;
}

.search__button {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.string_menu-button {
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  border-right: 1px solid gray;
  border-top-left-radius: 0;
  font-weight: normal;
}

.button_text {
  background-color: transparent;
  color: black;
}

.button_contrast {
  border-color: #152242;
  background-color: white;
}

.card {
  max-width: 1300px;
  height: 400px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  padding: 30px;
  flex-direction: row;
  gap: 40px;
  border: 1px solid grey;
  border-radius: 8px;
  margin-top: 1%;
  margin: 1% auto;
}

.card__picture {
  aspect-ratio: 1/1;
  border-radius: 10px;
  object-fit: cover;
}

.card__info {
  height: 100%;
  width: 100%;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.card__header {
  display: flex;
  flex-direction: column;
}

.card__header-and-save {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  display: flex;
  flex-direction: column;
}

.card__header-link {
  font-size: 22px;
  color: #0468ff;
  text-decoration: none;
}

.card__fullprice {
  color: black;
  font-size: 22px;
}

.card__fullprice::after {
  content: "₽";
}

.card__price-per-metr {
  color: rgba(38, 56, 107, 0.6);
}

.card__adress {
  color: rgba(38, 56, 107, 0.6);
}

.card__description {
  height: 140px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input_border-radius_md {
  border-radius: 6px;
}

.search__input {
  border: none;
  outline: none;
  padding: 0;
  padding-left: 10px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  width: 100%;
}

.search__input::placeholder {
  color: rgba(15, 22, 42, 0.5);
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.error-message {
  color: #FF1F34;
  width: 100%;
  height: 36px;
  margin: 2px 0px;
  padding-left: 8px;
}

.error-border {
  border: 1px solid #FF1F34;
}

.modal__input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4392156863);
  top: 0;
  left: 0;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal__body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.modal__content {
  background-color: white;
  border: 1px white solid;
  width: 360px;
  height: 485px;
  border-radius: 8px;
  overflow: hidden;
  padding: 9px 39px 39px 39px;
  display: grid;
  grid-template-rows: 25px 60px 240px 40px 40px 30px;
}

.modal__close-button {
  background-color: white;
  font-size: 25px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(21, 34, 66, 0.6);
  align-self: center;
  justify-self: end;
  margin-right: -25px;
}

.login-form {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-template-rows: 60px 240px 40px 40px 30px;
}

.login-form__inputs {
  display: flex;
  flex-direction: column;
  align-self: start;
}

.login-form__link {
  color: #0468FF;
  height: 20px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  justify-self: center;
  align-self: self-end;
  text-decoration: none;
}

.login-form__title {
  color: black;
  justify-self: center;
  margin: 0;
}

.login-form__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  border-bottom: 1px solid gray;
  height: 60px;
  display: flex;
  padding: 0 150px;
  width: 100%;
  align-self: center;
  justify-self: center;
}

.nav__linkbar {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav__leftside {
  padding: 0 20px;
  margin: 0 auto 0 0;
  height: 100%;
  display: flex;
}

.nav__link {
  float: left;
  display: flex;
  align-items: center;
}

.nav__link a {
  padding: 0 8px;
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.nav__rightside {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: flex-start;
}

.nav__brand {
  font-size: 36px;
  color: #0468FF;
  align-self: center;
  justify-self: center;
}

.signup-form {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-template-rows: 60px 240px 40px 40px 30px;
}

.signup-form__inputs {
  display: flex;
  flex-direction: column;
  align-self: start;
}

.signup-form__link {
  color: #0468FF;
  height: 20px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  justify-self: center;
  align-self: self-end;
  text-decoration: none;
}

.signup-form__title {
  color: black;
  justify-self: center;
  margin: 0;
}

.signup-form__button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0px;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

input {
  width: 280px;
  height: 40px;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 16px;
  padding: 0px 8px;
}

/*# sourceMappingURL=style.css.map */
