@use "@/variables.scss";

.footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: break-spaces;

    &__repo {
        cursor: pointer;
    }
}