@import url("../components/layout/layout.css");
@import url("../components/navbar/navbar.css");
@import url("../components/search/search.css");

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--button-font-size);
    font-weight: normal;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

:root {
    --button-font-family-main: Verdana, Geneva, Tahoma, sans-serif;
    --button-font-size: 16px;
    --background-color-main: #ffffffff;
    --h1-color: #ffffffff;
    --background-color-button-main: #0468ff;
    --color-button-main: white;
    --background-color-button-secondary: rgba(4,104,255,0.15);
    --color-button-secondary: #0468ff;
    --background-color-button-main-hover: #0661EC;
    --background-color-button-secondary-hover: rgba(4,104,255,0.2);
    --page-background-color: white;
    --button-border-radius_sm: 4px;
    --button-border-radius_md: 6px;
    --button-padding_sm: 8px 15px;
    --nav-border-bottom-line-width: 1px;
    --nav-border-bottom-line-style: solid;
    --nav-border-bottom-line-color: gray;
    --background_color_filter_passive: rgba(37,37,37,0.65);
    --color_filter_passive: white;
    --background_color_filter_active: #ebebeb;
    --color_filter_active: black; 
}