<div class="login-form" id="login-form">
    <h2 class="login-form__title">
        Авторизация
    </h2>
    <div class="login-form__inputs">
        <div class="login-form__login"></div>
        <div class="login-form__password"></div>
    </div>
    <span class="error-message"></span>
    <div class="login-form__button"></div>
    <a class="login-form__link" href="">Еще нет аккаунта?</a>
</div>