@use "@/variables.scss";

.nav {
    border-bottom: $nav-border-bottom-line-width
    $nav-border-bottom-line-style 
    $nav-border-bottom-line-color;
    height: 60px;
    display: flex;
    padding: 0 150px;
    width: 100%;
    align-self: center;
    justify-self: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 50;

    &__linkbar {
        display: flex;
        list-style: none;
        margin: 0;
    }

    &__leftside {
        padding: 0 20px;
        margin: 0 auto 0 0;
        height: 100%;
        display: flex;
    }

    &__link {
        float: left;
        display: flex;
        align-items: center;
    }

    &__link a {
        padding: 0 8px;
        text-align: center;
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;
        color: inherit;
    }

    &__rightside {
        display: grid;
        gap: 10px;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: flex-start;
    }

    &__brand {
        font-size: 36px;
        color: $color_text_highlight;
        align-self: center;
        justify-self: center;
    }
}
