<header class="nav">
        <div class="nav__leftside">
                <ul class="nav__linkbar">
                    <li class="nav__link">
                        <a>
                            Продажа
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav__rightside" id="rightside">
        </div>
    </header>