<header class="nav">
        <div class="nav__leftside">
                <ul class="nav__linkbar">
                    <li class="nav__link">
                        <a>
                            Аренда
                        </a>
                    </li>
                    <li class="nav__link">
                        <a>
                            Продажа
                        </a>
                    </li>
                    <li class="nav__link">
                        <a>
                            Новостройки
                        </a>
                    </li>
                    <li class="nav__link">
                        <a>
                            Дома и участки
                        </a>
                    </li>
                    <li class="nav__link">
                        <a>
                            Коммерческая
                        </a>
                    </li>
                    <li class="nav__link">
                        <a>
                            Ипотека
                        </a>
                    </li>
                    <li class="nav__link">
                        <a>
                            Сервисы
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav__rightside" id="rightside">
        </div>
    </header>