<header class="nav" id="modal">
    <div class="nav__leftside">
        <img src="/static/logo.svg" alt="logo">
        <ul class="nav__linkbar">
            <li class="nav__link">
                <a>
                    Продажа
                </a>
            </li>
        </ul>
    </div>
    <div class="nav__rightside" id="rightside">
    </div>
</header>