<header class="nav" id="{{id}}">
    <div id="modal"></div>
    <div id="csat_navbar"></div>
    <div class="nav__leftside">
        <h1 class="nav__brand" id="nabarBrand">TeaN</h1>
        <ul class="nav__linkbar">
            <li class="nav__link">
                <a id="sale">
                    Продажа
                </a>
                <a id="rent">
                    Аренда
                </a>
            </li>
        </ul>
    </div>
    <div class="nav__rightside" id="rightside">
    </div>
</header>