<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="csat.css">
    <title>Document</title>
    <script src="./csat.js"></script>
</head>
<body>
    <div class="csat">
        <div class="csat__close">x</div>
        <div class="csat__content">
            <span class="csat__title">Нравится ли вам наш сайт?</span>
            <div class="csat__answer">
                <img src="../../static/star.svg" alt="" class="csat__star" id="csatStar1">
                <img src="../../static/star.svg" alt="" class="csat__star" id="csatStar2">
                <img src="../../static/star.svg" alt="" class="csat__star" id="csatStar3">
                <img src="../../static/star.svg" alt="" class="csat__star" id="csatStar4">
                <img src="../../static/star.svg" alt="" class="csat__star" id="csatStar5">
            </div>
            <!-- если вопрос не один -->
            <div>
                <button>Далее</button>
            </div>
        </div>
    </div>
</body>
</html>
