<div class="iframe">
    <div class="iframe__close">x</div>
    <iframe 
        src="http://localhost:3000/csat/" 
        frameborder="0"
        height="300px"
        width="400px"
        style="overflow:hidden;"
        scrolling="no"
    >
    </iframe>
</div>
