<div class="iframe">
    <div class="iframe__close" id="iframe__close">x</div>
    <iframe 
        src="https://tean.homes{{src}}" 
        frameborder="0"
        height="300px"
        width="400px"
        style="overflow:hidden;"
        scrolling="no"
        sandbox="allow-scripts allow-same-origin allow-forms"
    >
    </iframe>
</div>
