.csat {
    width: 400px;
    min-height: 200px;
    background-color: aqua;
    border-radius: 8px;
    cursor: default;
}

.csat__content {
    padding: 10px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.csat__title {
    font-size: 22px;
    font-weight: bold;
}

.csat__answer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.csat__star {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform .15s;

}

.csat__star:hover {
    transform: scale(1.2);
}

.csat__close {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

