<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="card.css">
    <link rel="stylesheet" href="../../css/index.css">
</head>
<body>
    <div class="card">
        <img src="../../static/images/room.jpeg" alt="Квартира мечты" class="card__picture">
        <div class="card__info">
            <div class="card__header-and-save">
                <div class="header">
                    <a href="" class="header-link">
                        2-комн. квартира, 88,5 м^2
                    </a>
                    <span class="header-description">
                        Сдача корпуса 4 кв. 2024
                    </span>
                </div>
                <div class="save">
                    Кнопка для избранного
                </div>
            </div>
            <div class="card__adress">
                Москва, ЦАО, р-н Тверской, м. Площадь Революции, Ильинка 3/8 ЖК
            </div>
            <div class="card__price">
                <span class="fullprice">
                    199 040 000 P
                </span>
                <span class="price-per-metr">
                    1 808 061 P/m^2
                </span>
            </div>
            <div class="card__description">
                Светлая квартира площадью 85 кв. м с окнами на южной стороне. 
                Продуманная планировка позволяет разместить одну или две отдельные спальные комнаты."Лаврушинский" 
                - бескомпромиссный дом с лучшими видами на Кремль. Благодаря расположению всего в одном километре от 
                Кремля, своей высоте и малоэтажной окружающей застройке, из квартир открываются поразительные прямые 
                виды на главные достопримечательности центра Москвы, включая храм Христа Спасителя и собор Василия 
                Блаженного. Расположение в глубине квартала, посередине парка, дает удивительное для центра ощущение 
                тишины и простора. На закрытой территории находится самый ...
            </div>
        </div>
    </div>
</body>
</html>