<body>
    <div id="saved-advert-page" class="saved-advert-page">
        <div id="left-menu"></div>
        <div id="body-page" class="saved-advert">
            <div id="datasavedAdvert" class="saved-advert__data">
                <div class="saved-advert__container" id="savedAdvertContainer">

                </div>
            </div>
        </div>
    </div>
</body>