@import "variables.scss";
@import "@components/button/button.scss";
@import "@components/card/card.scss";
@import "@components/dropMenu/dropMenu.scss";
@import "@components/gridCard/gridCard.scss";
@import "@components/search/search.scss";
@import "@components/input/input.scss";
@import "@components/loginForm/loginForm.scss";
@import "@components/navbar/navbar.scss";
@import "@components/signupForm/signupForm.scss";
@import "@components/menu/menu.scss";
@import "@components/profileForm/profileForm.scss";
@import "@components/avatar/avatar.scss";
@import "@components/footer/footer.scss";
@import "@components/editAdvert/editAdvert.scss"; 
@import "@components/paramsAdvert/paramsAdvert.scss"; 
@import "@components/numberPages/numberPages.scss"; 
@import "@pages/loginAndSignupLayout/loginAndSignupLayout.scss";
@import "@pages/profile/profile.scss";
@import "@pages/statisticPage/statisticPage.scss";
@import "@pages/mobilePage/mobilePage.scss";
@import "@pages/main/main.scss";
@import "@pages/advertPage/advertPage.scss"; 
@import "@pages/newAdvert/newAdvert.scss"; 
@import "@pages/complexPage/complexPage.scss";
@import "@pages/myAdvert/myAdvert.scss";
@import "@pages/editAdvert/editAdvert.scss";
@import "@pages/errorPage/errorPage.scss";

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: $button-font-size;
    font-weight: normal;
    margin: 0px;
    z-index: 10;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}

.skeleton {
	background-color: #e2e5e7;
	background-image:			
			linear-gradient(
				90deg, 
				rgba(#fff, 0), 
				rgba(#fff, 0.5),
				rgba(#fff, 0)
			);
	background-size: $shine-width 100%;
	background-repeat: no-repeat; 
	background-position: left -1 * $shine-width top 0;
	animation: shine 1s ease infinite;
}

@keyframes shine {
	to {
		background-position: right -1 * $shine-width top 0;
	}
}