<div class="modal">
    <div class="modal__body">
        <div class="modal__content">
            <div class="modal__close-button">
                x
            </div>
            <div class="modal__form"></div>
        </div>
    </div>
</div>