<div class="modal-window">
    <div class="modal-window__body">
        <div class="modal-window__content">
            <div class="modal-window__close-button">
                x
            </div>
            <div class="modal-window__form" id="modalWindowForm"></div>
        </div>
    </div>
</div>