.signup-form {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-template-rows: 60px 240px 40px 40px 30px;
}

.signup-form__inputs {
    display: flex;
    flex-direction: column;
    align-self: start;
}

.signup-form__link {
    color: var(--color_text_highlight);
    height: 20px;
    font-size: var(--button-font-size);
    font-family: var(--button-font-family-main);
    cursor: pointer;
    justify-self: center;
    align-self: self-end;
    text-decoration: none;
}
.signup-form__title {
    color: var(--color_basic);
    justify-self: center;
    margin: 0;
}
.signup-form__button {
    width: 100%;
    justify-content: center;
    align-items: center;
}