<div class="signup-form" id="signup-form">
    <h2 class="signup-form__title">
        Регистрация
    </h2>
    <div class="signup-form__inputs">
        <div class="signup-form__login" id="signupFormLogin"></div>
        <div class="signup-form__password" id="signupFormPassword"></div>
        <div class="signup-form__password-repeat" id="repeatPassword"></div>
    </div>
    <span class="error-message" id="error-message"></span>
    <div class="signup-form__button" id="signupButton"></div>
    <a class="signup-form__link" href="#">Уже есть аккаунт?</a>
</div>