<div class="{{#if blockClass}}{{blockClass}}{{/if}} input-container" id="{{id}}">
    <input type="{{type}}" placeholder="{{placeholder}}">
    {{#if isPassword}}
        <img class="show-password-btn" src="/src/assets/eye-close.svg">
    {{/if}}
    <span class="error-message"></span>
</div>
