<div class="csat">
    <div class="csat__content">
        <span class="csat__title">{{title}}</span>
        <div class="csat__answer">
            <img src="../../static/star.svg" alt="" class="csat__star" id="csatStar1">
            <img src="../../static/star.svg" alt="" class="csat__star" id="csatStar2">
            <img src="../../static/star.svg" alt="" class="csat__star" id="csatStar3">
            <img src="../../static/star.svg" alt="" class="csat__star" id="csatStar4">
            <img src="../../static/star.svg" alt="" class="csat__star" id="csatStar5">
        </div>
        <!-- если вопрос не один -->
        <div class="csat__button" id="csat__button">
        </div>
    </div>
</div>
