<div class="map-modal" id="mapModal">
    <div class="map-modal__body" id="mapModalBody">
        <div class="map-modal__content" id="mapModalContent">
            <div id="map"></div>
        </div>
    </div>
</div>