<body>
    <div id="myadvert-page" class="myadvert-page">
        <div id="left-menu"></div>
        <div id="body-page" class="my-advert">
            <div id="dataMyAdvert" class="my-advert__data">
                <div class="my-advert__container" id="myAdvertContainer">

                </div>
            </div>
        </div>
    </div>
</body>