.search {
    height: 480px;
    background-image: url('/static/fone.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__block {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 15px;
    max-width: 1300px;
    padding: 0 20px;
}

.search__main-message {
    color: var(--h1-color);
}

.search__filter-and-search {
    height: 100px;
    display: flex;
    flex-direction: column;
}

.search__string {
    background-color: white;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 3fr;
    border-top-left-radius: 0 !important;
    align-items: baseline; 
}

.search__filters {
    display: flex;
    list-style: none;
    padding-left: 0%;
    height: 50px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.search__filter-link {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: var(--button-border-radius_md);
    border-top-right-radius: var(--button-border-radius_md);
}

.filter-link_active {
    background-color: var(--background_color_filter_active);
    color: var(--color_filter_active);
}

.filter-link_passive {
    background-color: var(--background_color_filter_passive);
    color: var(--color_filter_passive);
}


