<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="search.css">
    <link rel="stylesheet" href="../../css/index.css">
</head>
<body>
    <div class="search">
        <div class="search__block">
            <div class="search__main-message">
                <h1>
                    Найдите мечту
                </h1>
            </div>
            <div class="search__filter-and-search">
                <ul class="search__filters">
                        <li class="search__filter-link filter-link_active">
                            <a>
                                Купить
                            </a>
                        </li>
                        <li class="search__filter-link filter-link_passive">
                            <a>
                                Снять
                            </a>
                        </li>
                </ul>
                <div class="search__string button_border-radius_md">
                    <button class="string_menu-button">
                        Квартиру в новостройке и вторичке
                    </button>
                    <button class="string_menu-button">
                        Комнат
                    </button>
                    <button class="string_menu-button">
                        Цена
                    </button>
                    <input type="text" placeholder="Город, адрес, метро, район" class="search__input input_border-radius_md">
                </div>
            </div>
            <div class="search__button">
                <button class="button_border-radius_sm button_size_sm button_primary">
                    Найти
                </button>
            </div>
        </div>
    </div>
</body>
</html>