button {
    outline: none;
    border: none;
    text-decoration: none;
    white-space: nowrap;
    font-family: var(--button-font-family-main);
    font-size: var(--button-font-size);
    cursor: pointer;
    font-weight: bold;
}

.button_primary {
    background-color: var(--background-color-button-main);
    color: var(--color-button-main);
}

.button_primary:hover {
    background-color: var(--background-color-button-main-hover);
}

.button_size_sm {
    padding: var(--button-padding_sm);
    font-size: var(--button-font-size);
}

.button_border-radius_sm {
    border-radius: var(--button-border-radius_sm)
}

.search__button {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.string_menu-button {
    height: 100%;
    border: none; 
    outline: none; 
    background: none; 
    padding: 0;    
    border-right: var(--nav-border-bottom-line-width) 
    var(--nav-border-bottom-line-style) 
    var(--nav-border-bottom-line-color);
    border-top-left-radius: 0;
}

.button_size_md {
    padding: var(--button-padding_md);
    font-size: var(--button-font-size_md);
}

.button_size_lg {
    padding: var(--button-padding_lg);
    font-size: var(--button-font-size_lg);
}

.button_border-radius_md {
    border-radius: var(--button-border-radius_md)
}

.button_text {
    background-color: transparent;
    color: black;
}

.button_contrast {
    border-color: #152242;
    background-color: white;
}

.button_secondary {
    background-color: var(--background-color-button-secondary);
    color: var(--color-button-secodary);
}

.button_secondary:hover {
    background-color: var(--background-color-button-secondary-hover);
}