@use "@/variables.scss";

.newadvert-page {
    margin-top: 74px;
    display: flex;
    flex-direction: row;
    padding: 0 150px;
    height: 100%;
}

#body-page {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .newadvert-page {
        padding: 0;
    }
}