<div id="profileForm" class="profile-form">
    <div class="profile-form__topper">
        <div class="profile-form__info"> 
            <img src="/static/{{avatar}}" alt="" class="profile-form__avatar" id="profileFormAvatar">
        </div>
        <div id="profileFormButtons" class="profile-form__buttons"></div>
        <div id="profileForm__avatarError" class="profile-form__avatar-error"></div>
    </div>
    <div class="profile-form__content">
        <div class="profile-form__main-info" id="profileFormMainInfo">
        </div>
        <div class="profile-form__password" id="profileFormPassword">
        </div>
    </div>
</div>