<div class="menu">
    <div class="menu__items" id="menuItems">
        <span {{#if profile}} class="current-page"{{/if}} id="menu_profile">Профиль</span>
        <span {{#if newAdvert}} class="current-page"{{/if}} id="menu_new-advert">Создать объявление</span>
        <span {{#if myAdverts}} class="current-page"{{/if}} id="menu_my-advert">Мои объявления</span>
        <span class="menu_logout" id="menu_logout">Выйти</span>
    </div>
</div>
